/* Variables */

:root {
  --font-primary: sans-serif;
  --font-color: black;
  --header-cont-height: 120px;

}

/* Utility Classes */

.bold {
  font-weight: bold;
}

/* Global */

a {
  text-decoration: none;
  color: var(--font-color);
}
a:hover {
  cursor: pointer;
}

body {
  margin: 0 max(10vw, 20px);
  font-family: var(--font-primary);
  font-size: 14px;
}

button {
  font-size: 14px;
  border: none;
  background-color: #fff;
  padding: 10px;
  position: relative;
}
button::before {
  content: "";
  background-color: #cf052b;
  height: 3px;
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
}
button:hover {
  cursor: pointer;
}

/* HEADER */

#header-container {
  height: var(--header-cont-height);
  width: auto;
  display: flex;
  flex-direction: column;
  
  /* background-color: lightblue; */
}

/* banner */

#banner {
  height: 50px;
  width: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
#banner-right {
  gap: 10px;
}
#banner-right > a {
  padding: 0 15px;
  margin: 0;
}
#banner-right > select {
  margin: 0 15px 0 0;
}

/* nav */

#main-nav {
  display: flex;
  height: 70px;
  justify-content: space-between;
}

#nav-left {
  display: flex;
  align-items: center;
  
}
#nav-logo {
  width: 124px;

}
#nav-catagories {
  display: flex;
  list-style: none;
  gap: 2vw;
}

#nav-right {
  display: flex;
  align-items: center;
  gap: 1rem;
}
#nav-right > input {
  border: 0;
  border-bottom: 1px solid black;
}

/* nav dropdowns */

.dropdown-menu {
  background-color: rgb(255, 255, 255);
  position: absolute;
  top: var(--header-cont-height);
  left: 0;
  height: max-content;
  width: 100vw;
  padding: 20px 10vw ;
  box-shadow: 0 10px 10px rgb(102, 102, 102);

  display: flex;

  /* animation */
  opacity: 0;
  transform: translateY(-25px);
  transition:
  opacity 150ms ease-in-out,
  transform 150ms ease-in-out;
}

/* animation */
.dropdown > .link:focus > .dropdown-menu {
  opacity: 1;
  transform: translateY(0);
}

#promo-categories {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 0 5vw 0 2vw;
  border-right: 1px solid rgba(151, 151, 151, 0.534);
}

#all-categories {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  padding: 0 5vw;
}
.grid-head {
  grid-column-start: 1;
  grid-column-end: 3;
}